@font-face {
  font-family: 'VAGRoundedStdThinBold';
  src: url("../font/vagroundedstd-bold-webfont.eot");
  src: url("../font/vagroundedstd-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/vagroundedstd-bold-webfont.woff") format("woff"), url("../font/vagroundedstd-bold-webfont.ttf") format("truetype"), url("../font/vagroundedstd-bold-webfont.svg#VAGRoundedStdThinBold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-image: url("../images/background-pattern.png"); }

header,
footer,
.centering {
  width: 960px;
  margin: 0px auto; }

header {
  height: 150px; }

h1 {
  float: left; }

h1 a {
  background-image: url("../images/logo.png");
  width: 128px;
  height: 107px;
  float: left; }

header h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #cb0612;

  float: right;
  position: relative;
  top: 38px;
}

.nav-wrapper {
  position: relative;
  width: 100%;
  z-index: 10; }

.nav-wrapper.scrolled {
  background-image: url("../images/background-pattern.png"); }

.nav-inner {
  width: 960px;
  margin: 0px auto; }

nav {
  clear: both;
  width: 960px;
  margin: 20px 0;
  border-top: 2px dashed #d2cec5;
  border-bottom: 2px dashed #d2cec5;
  float: left;
  z-index: 10; }

nav li {
  display: inline;
  width: 188px;
  text-align: center;
  height: 32px; }

nav li a {
  float: left;
  width: 188px;
  line-height: 32px;
  font-size: 20px;
  font-family: "VAGRoundedStdThinBold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #685649;
  text-decoration: none;
  font-style: normal; }

nav li.active a {
  color: lime; }

footer {
  clear: both;
  width: 960px;
  margin: 20px auto;
  border-top: 2px dashed #d2cec5;
  border-bottom: 2px dashed #d2cec5;
  font-size: 0.8em; }

footer .information {
  padding: 10px 0;
  width: 100%;
  display: block; }

.block {
  display: block;
}

.centering .copy {
  width: 455px;
  float: left;
  color: #685649; }

.centering .close-copy {
  margin: 0 0 5px; }

.centering.text address.lone,
.centering.text p.lone {
  margin-bottom: 40px; }

.centering .left {
  margin-right: 50px; }

.feature {
  clear: both;
  background-image: url("../images/top-point.png");
  background-position: 0px top;
  background-repeat: repeat-x;
  margin-bottom: 40px; }

.feature-inner {
  padding-bottom: 5px;
  background-image: url("../images/bottom-point.png");
  background-repeat: repeat-x;
  background-position: bottom; }

.feature-content {
  padding: 35px 0px 30px; }

.feature-content p {
  width: 275px;
  color: #fff;
  font-size: 0.8em; }

.centering {
  position: relative; }

#map-small {
  overflow: auto;
  position: absolute;
  top: -6px;
  right: -2px;
  height: 330px;
  width: 634px;
  z-index: 1; }

.map-overlay {
  background-image: url("../images/map-overlay.png");
  position: absolute;
  top: -20px;
  right: -10px;
  height: 352px;
  width: 650px;
  z-index: 2;
  pointer-events: none; }

.map-overlay-large {
  background-image: url("../image/map-overlay-large.png");
  height: 400px;
  width: 960px; }

.padding {
  padding: 10px 20px; }

#map-large {
  overflow: auto;
  height: 400px;
  width: 100%;
  z-index: 1;
  margin: 20px 0px; }

.rotator {
  position: relative;
  width: 260px;
  height: 195px;
  border: 5px solid #fff;
  background-color: #fff;
  z-index: 3; }

.rotator-1 {
  position: absolute;
  top: 190px;
  right: 350px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8); }

.rotator-2 {
  position: absolute;
  top: 190px;
  right: 0px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8); }

.fixed {
  position: fixed; }

.show-overlay {
  display: block; }

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 10000; }

.centering .full {
  width: 100%; }

.overlay {
  background-image: url("../images/tooltip.png");
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  width: 150px;
  height: 70px; }
